.navbar {
  padding: 0 1em;
  border-bottom: #ff4741 2px solid;
  margin-bottom: 0;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); }
  .navbar .navbar-brand {
    font-size: 2em;
    color: #132149;
    padding: 0.25em 0 0 0; }
    .navbar .navbar-brand img {
      width: 125px; }
  .navbar a.linkOut {
    font-size: 1.65em;
    color: #132149; }
    .navbar a.linkOut:hover, .navbar a.linkOut:active, .navbar a.linkOut:visited {
      text-decoration: none;
      color: #132149; }

h1.background-dark {
  background: #0d4668;
  color: #ffffff;
  text-align: center;
  padding: 0.25em 0; }

#map {
  min-height: 31vh; }
  #map.leaflet-container {
    background-color: rgba(0, 0, 0, 0); }
    #map.leaflet-container .filter-dropshadow {
      filter: url(#filter-dropshadow); }
  #map .leaflet-control-zoom-reset {
    background-image: url("/image/usa.svg");
    background-size: 75%; }
  #map .leaflet-tooltip {
    background: #0d4668;
    color: #ffffff;
    padding: 2em;
    max-width: 25em;
    opacity: 1 !important;
    border: none;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 1px 3px #0d4668;
    -webkit-box-shadow: 0 1px 3px #0d4668; }
  #map .leaflet-tooltip-top::before {
    border-top-color: #0d4668; }
  #map .leaflet-tooltip-right::before {
    border-right-color: #0d4668; }
  #map .leaflet-tooltip-bottom::before {
    border-bottom-color: #0d4668; }
  #map .leaflet-tooltip-left::before {
    border-left-color: #0d4668; }

#select--state, #input--zipcode {
  font-size: 1.75em;
  font-weight: 500;
  margin: 0 0.5em; }

#select--state {
  padding: 0.1em 0.25em; }

#input--zipcode {
  width: 5em;
  padding: 0 0.25em; }

#table--state .card-deck .card {
  max-width: calc(50% - 30px); }
  #table--state .card-deck .card .card-header {
    font-weight: 500; }

/* Small desktop */
@media (min-width: 992px) {
  #map {
    height: 80vh; } }

/* Medium desktop */
@media (min-width: 1200px) {
  #table--state .card-deck .card {
    max-width: calc(33.33% - 30px); } }

/* Large desktop */
@media (min-width: 1600px) {
  #map {
    height: 56vh; } }
