#map {
  min-height: 31vh;
  margin: 4vh 0; }
  #map.leaflet-container {
    background-color: rgba(0, 0, 0, 0); }
    #map.leaflet-container .filter-dropshadow {
      filter: url(#filter-dropshadow); }
  #map .leaflet-tooltip {
    padding: 2em; }

#select--state, #input--zipcode {
  font-size: 1.75em;
  font-weight: 500;
  margin: 0 0.5em; }

#select--state {
  padding: 0.1em 0.25em; }

#input--zipcode {
  width: 5em;
  padding: 0 0.25em; }

#table--state .card-deck .card {
  max-width: calc(50% - 30px); }
  #table--state .card-deck .card .card-header {
    font-weight: 500; }

/* Small desktop */
@media (min-width: 992px) {
  #map {
    height: 80vh;
    margin: 2vh 0 1vh 0; } }

/* Medium desktop */
@media (min-width: 1200px) {
  #table--state .card-deck .card {
    max-width: calc(33.33% - 30px); } }

/* Large desktop */
@media (min-width: 1600px) {
  #map {
    height: 56vh;
    margin: 3vh 0 1vh 0; } }
