// From THP
$brand-primary: #0d4668;
$brand-primary-lighter: lighten($brand-primary, 17.5%);
$brand-secondary: #ff4741;
$brand-cool: #b6e5fb;
$brand-text: #132149;
$brand-gray: #d4e0e5;
$light-grey  : #D5E0E6;
$brand-success: #3facef;
$brand-info: #132149;
$brand-secondary-dark : darken($brand-secondary, 20%);
$brand-white: #ffffff;

.navbar {
  padding: 0 1em;
  border-bottom: $brand-secondary 2px solid;
  margin-bottom: 0;
  background-color: $brand-white;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.1);

  .navbar-brand {
    font-size: 2em;
    color: $brand-text;
    padding: 0.25em 0 0 0;
    img {
      width: 125px;
    }
  }

  a.linkOut {
    font-size: 1.65em;
    color: $brand-text;
    &:hover, &:active, &:visited {
      text-decoration: none;
      color: $brand-text;
    }
  }
}

h1.background-dark {
  background: $brand-primary;
  color: $brand-white;
  text-align: center;
  padding: 0.25em 0;
}

#map {
  min-height: 31vh;

  &.leaflet-container {
    background-color:rgba(0,0,0,0.0);

    .filter-dropshadow {
      filter: url(#filter-dropshadow);
    }
  }

  .leaflet-control-zoom-reset {
    background-image: url('/image/usa.svg');
    background-size: 75%;
  }

  .leaflet-tooltip {
    background: $brand-primary;
    color: $brand-white;
    padding: 2em;
    max-width: 25em;
    opacity: 1!important;
    border: none;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 1px 3px $brand-primary;
    -webkit-box-shadow: 0 1px 3px $brand-primary;
  }
  .leaflet-tooltip-top {
    &::before {
      border-top-color: $brand-primary;
    }
  }
  .leaflet-tooltip-right {
    &::before {
      border-right-color: $brand-primary;
    }
  }
  .leaflet-tooltip-bottom {
    &::before {
      border-bottom-color: $brand-primary;
    }
  }
  .leaflet-tooltip-left {
    &::before {
      border-left-color: $brand-primary;
    }
  }
}

#select--state, #input--zipcode {
  font-size: 1.75em;
  font-weight: 500;
  margin: 0 0.5em;
}

#select--state {
  padding: 0.1em 0.25em;
}

#input--zipcode {
  width: 5em;
  padding: 0 0.25em;
}

#table--state {
  .card-deck .card {
    .card-header {
      font-weight: 500;
    }
    // Ensure all cards are the same width, even if the row is not full
    max-width: calc(50% - 30px);
  } 
}


/* Small desktop */
@media (min-width: 992px) {
  #map {
    height: 80vh;
  }
}

/* Medium desktop */
@media (min-width: 1200px) {
  #table--state {
    .card-deck .card {
      // Ensure all cards are the same width, even if the row is not full
      max-width: calc(33.33% - 30px);
    } 
  }
}

/* Large desktop */
@media (min-width: 1600px) {
  #map {
    height: 56vh;
  }
}
