div.header-pledge--count {
  display: flex;
  text-align: center;
  color: #ffffff;
  line-height: 1; 
div {
    padding: 0.5em 0;
    overflow: hidden; }
.democrat {
    background:  $party-democrat;
    flex-basis: 20.83%; }
.democrat-candidate {
    background: lighten($color: $party-democrat, $amount: 10);
    flex-basis: 29.17%; }
.independent {
    background: $party-independent;
    flex-basis: 2.08%; }
.independent-candidate {
    background: lighten($color: $party-independent, $amount: 10);
    flex-basis: 2.08%; }
.republican {
    background: $party-republican;
    flex-basis: 16.67%; }
.republican-candidate {
    background:lighten($color: $party-republican, $amount: 10);
    flex-basis: 29.17%; }

}