.header-container {
    font-family: 'Raleway';
    .header-pledge--CTA {
        flex: 2;
        background-image: url('../src/assets/images/pledgeHeader.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 1rem;
    }
    .text-container{
        flex: 1;
        padding: 2em;
        background: #3facefe0;
        color: #ffffff;
        h1{
            color: $brand-text;
            font-weight: 900;
            line-height: 1em;
            font-size: 3em;
    
        }
        p {
            font-size: 1.4em;
            line-height: 1.25;
        }
        button {
            color: $brand-text;
            text-align: right;
            float: right;
            font-weight: 600;
        }
}


}