.row.header-pledge--CTA {
  background-image: url('../src/assets/images/pledgeHeader.png');
  background-size: cover;
  background-repeat: no-repeat;

  p {
    font-size: 1.25em;
    line-height: 1.25;
  }
}