#table--state {
  flex-direction:column;
  display: flex;
  align-items:stretch;
  order: 2;
  flex: auto 2;
  margin: auto;
  .total-pledged{
    float: right;
  }
  .pledge-status {
    &.pledged {
      color: $brand-success;
    }
  }
  .ant-card-head{
    background-color: $brand-primary;
    color: $brand-white;
    padding-left: 10px;
    padding-right: 10px;
  }
 
  .ant-card-head-title {
    color: $brand-white;
    white-space: initial;
  }

  .ant-card-grid {
    padding-left: 10px;
    padding-right: 10px;
  }

  .district-card-head {
    border-bottom: 0.5px solid $brand-gray;
  }
  
  .no-results{
    margin-top: 50%;
  }
  ul {
    list-style: none;
    padding-left: 0px;
  }

  // state cards
  .state-card {
    .ant-card-body {
      padding: 10px 10px;
      .ant-card{
        flex: 1 25%;
      }
      @media all and (max-width: $tablet-breakpoint) {
        .ant-card{
          margin: auto;
          flex: 1 100%;
      }
    }

  .ant-card-head {
        background-color: $brand-white;
        border-bottom: 0.5px solid $brand-gray;
        .ant-card-head-title{
          color: $brand-text;
        }
      }
    }
    .ant-card-body{
      display: flex;
      flex-flow: row wrap;
    }
  }
}

