$brand-primary: #2e4c69;

$brand-blue: #7bc0e1;

$brand-red: #CA4948;

$main-dark-blue: #2D4C6B;

$main-light-blue: #6C9FC2;

$main-white: #ffffff;

$dark-green: #274A3D;

$dark-purple: #3E1A49;

$dark-orange: #DB8011;

