@mixin popover ($bk-color, $text-color) {
  color:$text-color;
  max-width: 230px;
  font-family: 'Raleway';
  font-size: 0.8em!important;
  line-height: 20px!important;
  background-color: $bk-color;
  box-shadow: 0px 0px 3px $brand-primary;
  -webkit-box-shadow: 0px 1px 3px $brand-primary;
          box-shadow: 0px 1px 3px$brand-primary;
  span, h4 {
    color: $text-color;
    font-weight: 800;
    font-size: 1em;
    border-bottom: 0.5px solid $brand-gray
  }
}
