@import "../../style/modules/colors";

.navbar-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // padding: .5rem 1rem;
    // padding: 0.5em 1em;
    line-height: 1;
    border-bottom: 1px solid #e8e8e8;
    // background-color: $brand-white;
    .ant-menu {
        border: none;
    }
    ul {
        li {
            font-family: 'Raleway';
        }
    }
    .navbar-brand {
        padding: 0;
        img {
        width: 125px;
        }
    }
    .social-icons {
        padding-right: 0;
        padding-left: 5px;
        font-size: 1.2em;
    }
    a.linkOut {
        color: $brand-text;
        &:hover, &:active, &:visited {
            text-decoration: none;
            color: $brand-text;
        }
        .main-site {
            // content:'';
            background-image: url('../../src/assets/images/THP_logo_circle.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            display: inline-block;
        }
    }
    /* Small desktop */
    @media (min-width: 992px) {
        padding: 0em 1em;
        line-height: 1; }
        .navbar-brand {
            font-size: 2em;
            line-height: 1.45;
     }
    
    /* Large desktop */
    @media (min-width: 1600px) {
        padding: 0.25em 1em 0.15em 1em; }
        .navbar-brand {
        font-size: 1.85em;
        line-height: 1.55; }
        a.linkOut {
        font-size: 1.3em; }
        /* Extra Large desktop */
    @media (min-width: 1700px) {
        padding: 0.2em 1em 0.1em 1em; }
        .navbar-brand {
        font-size: 1.5em;
        line-height: 1.35; }
        a.linkOut {
        font-size: 1.15em; } 
}