@import "../../style/modules/colors";

.navbar {
    &.justify-content-between {
        -webkit-box-pack: justify !important;
        justify-content: space-between !important;
    }
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    padding: 0.5em 1em;
    line-height: 1;
    border-bottom: $brand-red 2px solid;
    margin-bottom: 0;
    background-color: $brand-white;
    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li {
            font-family: 'Raleway';
            display: block;
            position: relative;
            float: left;
            padding-left: 10px;
        }
    }
    .navbar-brand {
        padding: 0;
        img {
        width: 125px;
        }
    }
    a.linkOut {
        &.social-icons {
            padding-right: 0;
            padding-left: 5px;
            padding-top: 15px;
            font-size: 1.6em;
        }
        color: $brand-text;
        &:hover, &:active, &:visited {
            text-decoration: none;
            color: $brand-text;
        }
        .main-site {
            // content:'';
            background-image: url('../../src/assets/images/THP_logo_circle.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            display: inline-block;
        }
    }

    .navbar-right{
        float: right;
    }
    /* Small desktop */
    @media (min-width: 992px) {
        padding: 0.5em 1em;
        line-height: 1; }
        .navbar-brand {
            font-size: 2em;
            line-height: 1.45;
     }
    
    /* Large desktop */
    @media (min-width: 1600px) {
        padding: 0.25em 1em 0.15em 1em; }
        .navbar-brand {
        font-size: 1.85em;
        line-height: 1.55; }
        a.linkOut {
        font-size: 1.3em; }
        /* Extra Large desktop */
    @media (min-width: 1700px) {
        padding: 0.2em 1em 0.1em 1em; }
        .navbar-brand {
        font-size: 1.5em;
        line-height: 1.35; }
        a.linkOut {
        font-size: 1.15em; } 
}